extends base/_layout
block head
    title Контакты

block header
    header.header.header--minimal
        .header__inner
            .header__manage
                .header__manage-top.container
                    a.header__manage-close(href="#")
                        img(src="images/icons/close.svg" alt="закрыть меню" width="24" height="24")
                        span Закрыть
                    .header__contact
                        a.header__contact-tel(href="tel:+74955674567") +7 (495) 567-45-67
                .header__manage-main
                    nav.header__manage-nav
                        ul.header__manage-list
                            li.header__manage-item
                                a.header__manage-link.header__manage-toggle(href="#") 
                                    span Наши услуги
                                    svg.header__manage-link__icon
                                        use(href="images/sprites/main.stack.svg#svg-arrow-circle-down")
                                ul.header__manage-submenu
                                    li
                                        a.header__manage-link(href="#") Купить
                                    li
                                        a.header__manage-link(href="#") Снять
                                    li
                                        a.header__manage-link(href="#") Продать
                                    li
                                        a.header__manage-link(href="#") Сдать
                                    li
                                        a.header__manage-link(href="#") Оценить
                                    li
                                        a.header__manage-link(href="#") Оформить ипотеку
                            li.header__manage-item
                                a.header__manage-link.header__manage-toggle(href="#") 
                                    span Недвижимость
                                    svg.header__manage-link__icon
                                        use(href="images/sprites/main.stack.svg#svg-arrow-circle-down")
                                ul.header__manage-submenu
                                    li
                                        a.header__manage-link(href="#") Квартиры
                                    li
                                        a.header__manage-link(href="#") Новостройки
                                    li
                                        a.header__manage-link(href="#") Дома и участки
                                    li
                                        a.header__manage-link(href="#") Аренда
                                    li
                                        a.header__manage-link(href="#") Коммерческая
                                    li
                                        a.header__manage-link(href="#") Гаражи
                            li.header__manage-item
                                a.header__manage-link.header__manage-toggle(href="#") 
                                    span Другое
                                    svg.header__manage-link__icon
                                        use(href="images/sprites/main.stack.svg#svg-arrow-circle-down")
                                ul.header__manage-submenu
                                    li
                                        a.header__manage-link(href="#") Ипотека
                                    li
                                        a.header__manage-link(href="#") Аналитика
                                    li
                                        a.header__manage-link(href="#") Стоимость услуг
                                    li
                                        a.header__manage-link(href="#") Новости
                                    li
                                        a.header__manage-link(href="#") Рефинансирование
                                    li
                                        a.header__manage-link(href="#") Гарантия безопасности
                            li.header__manage-item
                                a.header__manage-link.header__manage-toggle(href="#") 
                                    span О компании
                                    svg.header__manage-link__icon
                                        use(href="images/sprites/main.stack.svg#svg-arrow-circle-down")
                                ul.header__manage-submenu
                                    li
                                        a.header__manage-link(href="#") Отзывы
                                    li
                                        a.header__manage-link(href="#") Вакансии
                                    li
                                        a.header__manage-link(href="#") СМИ о нас
                                    li
                                        a.header__manage-link(href="#") Новости
                                    li
                                        a.header__manage-link(href="#") Пресс-центр
                                    li
                                        a.header__manage-link(href="#") Франшиза
                .footer
                    .footer__inner
                        .footer__main.container
                            .footer__bottom
                                address.footer__address
                                    p.footer__location
                                        |   Москва, ул. Профсоюзная, д. 56 этаж 10, #[br]
                                        a(href="tel:+74951200005") тел. +7 (495) 120-00-05
                                    a.footer__tel(href="tel:+74955674567") +7 (495) 567-45-67
                                    .footer__time
                                        p Понедельник - Пятница: с 09:00 до 21:00
                                        p Суббота - Воскресенье: с 09:00 до 18:00
                                    ul.soc
                                        li.soc__item
                                            a.soc__link(href="#")
                                                img(src="images/icons/telegram.svg" alt="телеграм" width="23" height="19")
                                        li.soc__item
                                            a.soc__link.soc__link--whatsapp(href="#")
                                                img(src="images/icons/whatsapp.svg" alt="whatsapp" width="24" height="24")
                                nav.footer__nav
                                    .footer__nav-col
                                        h2.footer__nav-title О компании
                                        ul.footer__nav-list
                                            li.footer__nav-item
                                                a(href="#") Отзывы
                                            li.footer__nav-item
                                                a(href="#") Вакансии
                                            li.footer__nav-item
                                                a(href="#") СМИ о нас
                                            li.footer__nav-item
                                                a(href="#") Новости
                                            li.footer__nav-item
                                                a(href="#") Пресс-центр
                                            li.footer__nav-item
                                                a(href="#") Франшиза
            .header__top-wrapper
                .header__top
                    .header__top-inner.container
                        a.header__burger(href="#")
                            img(src="images/icons/menu.svg" alt="открыть меню" width="24" height="24")
                        .header__city
                            button.header__city-current  Москва и Московская область
                                svg.header__city-arrow
                                    use(href="images/sprites/main.stack.svg#svg-arrow-down")
                        .header__time
                            p Понедельник - Пятница: с 09:00 до 21:00
                            p Суббота - Воскресенье: с 09:00 до 18:00
                        .header__contact
                            a.header__contact-tel(href="tel:+74955674567") +7 (495) 567-45-67
            .header__main
                .header__main-inner.container
                    .header__main-box
                        .header__menu 
                            a.header__logo(href="#")
                                img(src="images/icons/logo.png" alt="логотип содействие" width="147" height="40")
                            nav.header__nav
                                ul.header__nav-list
                                    li.header__nav-item
                                        a.header__nav-link(href="#") Купить
                                        ul.header__nav-item__submenu
                                            li
                                                a(href="#") Вторичная
                                            li
                                                a(href="#") Новостройки
                                            li
                                                a(href="#") Дома и участки
                                            li
                                                a(href="#") Коммерческая
                                            li
                                                a(href="#") Гаражи
                                    li.header__nav-item
                                        a.header__nav-link(href="#") Снять
                                        ul.header__nav-item__submenu
                                            li
                                                a(href="#") Вторичная
                                            li
                                                a(href="#") Новостройки
                                            li
                                                a(href="#") Дома и участки
                                            li
                                                a(href="#") Коммерческая
                                            li
                                                a(href="#") Гаражи
                                    li.header__nav-item
                                        a.header__nav-link(href="#") Продать
                                        ul.header__nav-item__submenu
                                            li
                                                a(href="#") Вторичная
                                            li
                                                a(href="#") Новостройки
                                            li
                                                a(href="#") Дома и участки
                                            li
                                                a(href="#") Коммерческая
                                            li
                                                a(href="#") Гаражи
                                    li.header__nav-item
                                        a.header__nav-link(href="#") Сдать
                                        ul.header__nav-item__submenu
                                            li
                                                a(href="#") Вторичная
                                            li
                                                a(href="#") Новостройки
                                            li
                                                a(href="#") Дома и участки
                                            li
                                                a(href="#") Коммерческая
                                            li
                                                a(href="#") Гаражи
                                    li.header__nav-item
                                        a.header__nav-link(href="#") Оценить
                                        ul.header__nav-item__submenu
                                            li
                                                a(href="#") Вторичная
                                            li
                                                a(href="#") Новостройки
                                            li
                                                a(href="#") Дома и участки
                                            li
                                                a(href="#") Коммерческая
                                            li
                                                a(href="#") Гаражи
                                    li.header__nav-item
                                        a.header__nav-link(href="#") Оформить ипотеку
                                        ul.header__nav-item__submenu
                                            li
                                                a(href="#") Вторичная
                                            li
                                                a(href="#") Новостройки
                                            li
                                                a(href="#") Дома и участки
                                            li
                                                a(href="#") Коммерческая
                                            li
                                                a(href="#") Гаражи
                            ul.soc
                                li.soc__item
                                    a.soc__link(href="#")
                                        img(src="images/icons/telegram.svg" alt="телеграм" width="23" height="19")
                                li.soc__item
                                    a.soc__link.soc__link--whatsapp(href="#")
                                        img(src="images/icons/whatsapp.svg" alt="whatsapp" width="24" height="24")

block page
    .breadcrumbs.container
        ul.breadcrumbs__list
            li.breadcrumbs__item
                a.breadcrumbs__link(href="#") Главная
            li.breadcrumbs__item
                a.breadcrumbs__link(href="#") Название раздела
    section.article.article--contacts
        .article__wrapper.container
            .article__inner
                h1.article__title Контакты
                address.contacts
                    .contacts__info
                        p.contacts__street 105064, г. Москва, Нижний Сусальный пер., д. 5, стр. 16
                        ul.soc
                            li.soc__item
                                a.soc__link(href="#")
                                    img(src="images/icons/telegram.svg" alt="телеграм" width="23" height="19")
                            li.soc__item
                                a.soc__link.soc__link--whatsapp(href="#")
                                    img(src="images/icons/whatsapp.svg" alt="whatsapp" width="24" height="24")
                        a.contacts__tel(href="tel:+74955674567") +7 (495) 567-45-67
                        .contacts__time
                            p Понедельник — Пятница: с 10:00 до 19:00
                            p Суббота — Воскресенье: Выходной
                        p.contacts__email E-mail: 
                            a(href="mailto:info@mail.ru") info@mail.ru
                    .contacts__map
                        picture
                            source(srcset="images/map/map.webp" type="image/webp")
                            img(src="images/map/map.jpg" alt="карта" width="804" height="378")
                block person
                    include blocks/_person

    section.form
        .form__wrapper.container
            .form__inner
                .form__header
                    h2.form__title Консультируем бесплатно
                    p.form__consultation
                        |   Оставьте заявку на консультацию или звоните нам по телефону: 
                        a(href="tel:+74951200005") +7 (495) 120-00-05
                .form__manage
                    label.form__label.form__inp
                        input.form__field(type="text" placeholder="Как к вам обращаться?")
                    label.form__label.form__inp
                        input.form__field(type="tel" placeholder="+7 ")
                    button.form__btn.form__inp.btn Позвоните нам
                p.form__offer
                    |   Отправляя заявку, вы соглашаетесь на обработку 
                    a(href="#") персональных данных

    section.faq
        .faq__inner.container
            h2.faq__title Frequently Asked Questions
            ul.faq__list
                li.faq__item
                    button.faq__question Does HomeLight cost money?
                        svg.faq__arrow
                            use(href="images/sprites/main.stack.svg#svg-arrow-down")
                    p.faq__answer Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, corporis.
                li.faq__item
                    button.faq__question Do agents pay to be listed on HomeLight?
                        svg.faq__arrow
                            use(href="images/sprites/main.stack.svg#svg-arrow-down")
                    p.faq__answer Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, corporis.
                li.faq__item
                    button.faq__question How does HomeLight make money?
                        svg.faq__arrow
                            use(href="images/sprites/main.stack.svg#svg-arrow-down")
                    p.faq__answer Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, corporis.
                li.faq__item
                    button.faq__question Do I need to use the agent that HomeLight recommended?
                        svg.faq__arrow
                            use(href="images/sprites/main.stack.svg#svg-arrow-down")
                    p.faq__answer Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, corporis.
                li.faq__item
                    button.faq__question What's the difference between a top agent and the average real estate agent?
                        svg.faq__arrow
                            use(href="images/sprites/main.stack.svg#svg-arrow-down")
                    p.faq__answer Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, corporis.
                li.faq__item
                    button.faq__question I'm a real estate agent. How do I sign up?
                        svg.faq__arrow
                            use(href="images/sprites/main.stack.svg#svg-arrow-down")
                    p.faq__answer Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, corporis.