footer.footer
   .footer__inner
      .footer__main.container
         .footer__top
            a.footer__logo(href="#")
               img(src="images/icons/logo-dark.png" alt="логотип компании" width="170" height="46")
         .footer__bottom
            nav.footer__nav
               .footer__nav-col
                  h2.footer__nav-title Недвижимость
                  ul.footer__nav-list
                     li.footer__nav-item
                        a(href="#") Квартиры
                     li.footer__nav-item
                        a(href="#") Новостройки
                     li.footer__nav-item
                        a(href="#") Дома и участки
                     li.footer__nav-item
                        a(href="#") Аренда
                     li.footer__nav-item
                        a(href="#") Коммерческая
                     li.footer__nav-item
                        a(href="#") Гаражи
               .footer__nav-col
                  h2.footer__nav-title О компании
                  ul.footer__nav-list
                     li.footer__nav-item
                        a(href="#") Отзывы
                     li.footer__nav-item
                        a(href="#") Вакансии
                     li.footer__nav-item
                        a(href="#") СМИ о нас
                     li.footer__nav-item
                        a(href="#") Новости
                     li.footer__nav-item
                        a(href="#") Пресс-центр
                     li.footer__nav-item
                        a(href="#") Франшиза
               .footer__nav-col
                  h2.footer__nav-title Услуги
                  ul.footer__nav-list
                     li.footer__nav-item
                        a(href="#") Продать
                     li.footer__nav-item
                        a(href="#") Купить
                     li.footer__nav-item
                        a(href="#") Сдать и снять
                     li.footer__nav-item
                        a(href="#") Ипотека
                     li.footer__nav-item
                        a(href="#") Бонусы клиентам
                     li.footer__nav-item
                        a(href="#") Стоимость услуг
               .footer__nav-col
                  h2.footer__nav-title Другое
                  ul.footer__nav-list
                     li.footer__nav-item
                        a(href="#") Ипотека
                     li.footer__nav-item
                        a(href="#") Аналитика
                     li.footer__nav-item
                        a(href="#") Стоимость услуг
                     li.footer__nav-item
                        a(href="#") Рефинансирование
                     li.footer__nav-item
                        a(href="#") Гарантия безопасности
            address.footer__address
               a.footer__tel(href="tel:+74955674567") +7 (495) 567-45-67
               .footer__time
                  p Понедельник - Пятница: с 09:00 до 21:00
                  p Суббота - Воскресенье: с 09:00 до 18:00
               p.footer__location
                  |   Москва, ул. Профсоюзная, д. 56 этаж 10, #[br]
                  a(href="tel:+74951200005") тел. +7 (495) 120-00-05
               ul.soc
                  li.soc__item
                     a.soc__link(href="#")
                        img(src="images/icons/telegram.svg" alt="телеграм" width="23" height="19")
                  li.soc__item
                     a.soc__link.soc__link--whatsapp(href="#")
                        img(src="images/icons/whatsapp.svg" alt="whatsapp" width="24" height="24")
      .footer__copy
         p.footer__copy-text.container.
            ©  2000-2021 Компания «Этажи». Все права защищены. При использовании материалов гиперссылка обязательна.