.article__person.person
   .person__top
      .person__ava
         picture
            source(srcset="images/person/person.webp" type="image/webp")
            img(src="images/person/person.jpg" alt="картинка" width="95" height="95")
      .person__info
         p.person__name Константин Константинопольский
         p.person__post Должность
         .person__rating
            img(src="images/icons/star.svg", alt="звезда" width="20" height="19")
            img(src="images/icons/star.svg", alt="звезда" width="20" height="19")
            img(src="images/icons/star.svg", alt="звезда" width="20" height="19")
            img(src="images/icons/star.svg", alt="звезда" width="20" height="19")
            img(src="images/icons/star-grey.svg", alt="звезда" width="20" height="19")
         a.person__tel(href="tel:+74955674567") +7 (495) 567-45-67
         a.person__btn.btn(href="#") Получить консультацию
   .person__bottom
      h2.person__title Pellentesque convallis enim neque
      p.person__text.
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut magna pulvinar, elementum elit ut, ultricies sapien. Proin elementum massa sit amet vehicula ullamcorper. 